@import "@/sass/all";

.custom-btn {
  display: inline-block;
  border-radius: rem(10);
  color: $absolute-white;
  @include adaptiv-value("font-size", 18, 14);
  white-space: nowrap;
  transition: all 0.23s ease 0s;
  &.dark-btn {
    border: 1px solid $grey-15;
    padding: rem(16) rem(24);
    background: $grey-08;

    &:hover {
      background-color: $grey-10;
    }
  }

  &.purple-btn {
    padding: rem(18) rem(24);
    background: $purple-60;
    border: none;

    &:hover {
      background-color: $purple-65;
    }
  }
}
